# Python cache
__pycache__/
*.py[cod]

# Virtual environment
f5env/
indextts_env/

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# Test & lint cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db